body{
    background-color: #C4C4C4;
}
//Setup ------------

//COLORS

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

//HEADINGS

//LINKS

*{
    font-family: 'Old Standard TT', serif;
}

.links{
    float: right;
    margin: 20px;
    display: flex;
    a{
        margin:20px;
        font-size: 24pt;
    }
}

a{
    text-decoration:none;
    color:white;
}

h1{color: white;
font-size: 100pt;
margin-left: auto;
margin-right: auto;
margin-top:50px;
text-align: center;}

#headerbone{
    margin:20px;
}

.footer{
    h2{
        font-size:24pt;
    }
    text-align: center;
    display:flex;
    justify-content: center;
    margin-left: auto;
margin-right: auto;}

.both{
    margin-top: -100px;
    display:flex;
    justify-content: center;
    .options{
        text-align: center;
        h3{
            font-size:48pt;
            color: white;
        }
    }
}