body{
    background-color: #C4C4C4;
}
//Setup ------------

//COLORS

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

//HEADINGS

//LINKS

*{
    font-family: 'Old Standard TT', serif;
}

.links{
    float: right;
    margin: 20px;
    display: flex;
    a{
        margin:20px;
        font-size: 24pt;
    }
}

a{
    text-decoration:none;
    color:white;
}

h1{color: white;
font-size: 100pt;
margin-left: auto;
margin-right: auto;
margin-top:50px;
text-align: center;}

#headerbone{
    margin:20px;
}

.footer{
    h2{
        font-size:24pt;
    }
    text-align: center;
    display:flex;
    justify-content: center;
    margin-left: auto;
margin-right: auto;}

.both{
    margin-top: -100px;
    display:flex;
    justify-content: center;
    .options{
        text-align: center;
        h3{
            font-size:48pt;
            color: white;
        }
    }
}
.forum{
    width:900px;
    margin-left:auto;
    margin-right:auto;
    .tags{
        display:flex;
        h3{
            font-size:24pt;
        }
        div{
            display:flex;
            h5{padding-left:10px;
            font-size:16pt;}
        }
    }
    .newpost{
        font-style:italic;
        font-size:24pt;
    }
    .forumpost{
        display:flex;
        flex-wrap: wrap;
        h3{
            margin-bottom:0;
            font-size:24pt;
        }
        img{
            width:5%;
        }
        .break {
            flex-basis: 100%;
            height: 0;
          }
          h6{
              margin-top:10px;
              font-size:16pt;
              margin-right:20px;
          }
          h5{margin-top:10px;
        font-size:12pt;}
    }
}

.container{
    width:900px;
    margin-left: auto;
    margin-right: auto;
}
.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item {
        width: 30%;
        padding: 1%;
        padding-bottom: 5%; /* Same as width, sets height */
        margin-bottom: 2%; /* (100-32*3)/2 */
        position: relative;
        img{
            width: 90%;
        }
        h4{
            font-size:24pt;
            margin-top: 10px;
        }
      }
  }

  form{
      margin-left: 10%;
      label{ color:white;
            font-size: 16pt;
            border:none;}
    input{
        outline:none;
        box-shadow: none;
        margin-top: 10px;
        border: none;
    }
  }
  .next{
    background-color: black;
    color:white;
    margin-top: 20px;
    border: none;
    padding:10px;
    padding-left:20px;
    padding-right: 20px;
    border: none;
}
#crtpost{
    margin-left:10%;
}

textarea{margin-left:10%;
    border: none;
}
.insidePost{

    h2{
        font-size:24pt;
        margin-left: 10%;
        margin-right:10%;
    }
    p{
        font-size:12pt;
        margin-left: 10%;
        margin-right:10%;
    }
    h5{
        font-size:16pt;
        margin-left:10%;
        margin-right:10%;
        margin-top:10px;
        margin-bottom:10px;
    }
}
#description{
    margin-left:0;
    margin-top:10px;
}


#randomimg{
    width: 300px;
}

#dogPic{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 15px;
}

#center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#profile {
    margin-left:10%;
    img {
        max-width: 400px;
    }
    h2{
        font-size: 24pt;
    }
    h3{
        font-style: italic;
    }
    p{
        max-width: 300px;
    }
}

.newpost{
     margin-left: 3%;
     font-size: 16pt;
     font-style: italic;
}
.forumpost{
    margin-left:10%;
    a{
        font-size:24pt;
    }
    h6{
        font-size: 12pt;
        margin-top: 10px;
    }
}
    #comment{
        margin-left:10%;
        display: flex;
        flex-direction: column;
        input{
            width: auto;
            line-height: 36px;
        }
    }

#usrform{
    input{
        width:200px;
    }
    textarea{
        width:250px;
        height:200px;
        margin-left:0;
    }
}

#breed{
    height:37px;
}